Source: pam-gooroom
Section: admin
Priority: optional
Maintainer: Gooroom Maintainers <gooroom@gooroom.kr> 
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               intltool,
               autotools-dev,
               pkg-config,
               libpam0g-dev | libpam-dev,
               libglib2.0-dev,
               libcurl4-gnutls-dev,
               libjson-c-dev,
               libssl-dev,
               libpcsclite-dev,
               libecryptfs-dev,
               gettext,
               libssl-dev,
               libb64-dev
Standards-Version: 3.9.8

Package: pam-gooroom
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, curl
Description: Pluggable Authentication Module for Gooroom
